{% extends 'base.html.twig' %}

{% block body %}

    <h1>Add Chapter</h1>

    {{ form_start(form_add_chapter, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form_add_chapter.title) }}
        {{ form_row(form_add_chapter.content) }}

        {# store the prototype on the data-prototype attribute #}
        <ul id="tags-fields-list"
            data-prototype="{{ form_widget(form_add_chapter.tags.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}">
            {% for tagField in form_add_chapter.tags %}
                <li>
                    {{ form_errors(tagField) }}
                    {{ form_widget(tagField) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
                class="add-another-collection-widget"
                data-list="#tags-fields-list">Add another Tag</button>


    <div>
    <button type="submit">Add chapter</button>
    </div>

    {{ form_end(form_add_chapter) }}

{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });

    </script>
{% endblock %}